<div class = "keypad-grid">
    <app-button label="%" color="rgb(251, 183, 80)" (event)="execute('percentage')"></app-button>
    <app-button label="CE" color="rgb(251, 183, 80)" (event)="execute('CE')"></app-button>
    <app-button label="C" color="rgb(251, 183, 80)" (event)="execute('C')"></app-button>
    <app-button label="DEL" color="rgb(251, 183, 80)" (event)="execute('DEL')"></app-button>

    <app-button label="1/x" color="rgb(251, 183, 80)" (event)="execute('inverse')"></app-button>
    <app-button label="x^2" color="rgb(251, 183, 80)" (event)="execute('square')"></app-button>
    <app-button label="SQRT" color="rgb(251, 183, 80)" (event)="execute('SQRT')"></app-button>
    <app-button label="/" color="rgb(251, 183, 80)" (event)="execute('/')"></app-button>

    <app-button label="7" color="rgb(206, 205, 246)" (event)="execute('7')"></app-button>
    <app-button label="8" color="rgb(206, 205, 246)" (event)="execute('8')"></app-button>
    <app-button label="9" color="rgb(206, 205, 246)" (event)="execute('9')"></app-button>
    <app-button label="x" color="rgb(251, 183, 80)" (event)="execute('x')"></app-button>

    <app-button label="4" color="rgb(206, 205, 246)" (event)="execute('4')"></app-button>
    <app-button label="5" color="rgb(206, 205, 246)" (event)="execute('5')"></app-button>
    <app-button label="6" color="rgb(206, 205, 246)" (event)="execute('6')"></app-button>
    <app-button label="-" color="rgb(251, 183, 80)" (event)="execute('-')"></app-button>

    <app-button label="1" color="rgb(206, 205, 246)" (event)="execute('1')"></app-button>
    <app-button label="2" color="rgb(206, 205, 246)" (event)="execute('2')"></app-button>
    <app-button label="3" color="rgb(206, 205, 246)" (event)="execute('3')"></app-button>
    <app-button label="+" color="rgb(251, 183, 80)" (event)="execute('+')"></app-button>

    <app-button label="±" color="rgb(206, 205, 246)" (event)="execute('sign')"></app-button>
    <app-button label="0" color="rgb(206, 205, 246)" (event)="execute('0')"></app-button>
    <app-button label="." color="rgb(206, 205, 246)" (event)="execute('.')"></app-button>
    <app-button label="=" color="rgb(251, 183, 80)" (event)="execute('=')"></app-button>
</div>